Package: net.jakedacatman.vanitykrist
Name: VanityKristiOS
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome application!
Maintainer: jakedacatman
Author: jakedacatman
Section: Utilities
