Package: net.jakedacatman.speedykrist
Name: SpeedyKrist
Architecture: iphoneos-arm
Description: Mine Krist on your phone. 
Maintainer: jakedacatman
Author: jakedacatman
Section: Utilities
Depends: com.modmyi.libswift4 (>= 4.0.3)
Version: 0.0.1-1+debug
Installed-Size: 128
